= render :partial => '/menu/contentHeader'
= render :partial => 'index'
= render :partial => 'menu/menu'


%div.central_charts
  %h2
    = t :weekly_activity_label
  %div#containerActivityByWeek.central_chart


