= render :partial => '/menu/contentHeader'
= render :partial => 'index'
= render :partial => 'menu/menu'


%div.double_charts
  %h2
    = "Active DSR Resolutions by User"
  
  %div#userIssPie.double_chart
  %div#userIssColumn.double_chart
        